<div class="container">
  <div class="col-md-12">
    <div  class="content catalog-group" *ngFor="let item of data">
      <div  class="list-group-item">
          <div  class="row">
              <div  class="col-md-8 col-sm-8 col-lg-8" style="float: left;">
                  <div  class="row">
                      <div  class="col-md-6 col-sm-6 col-lg-6">{{item.name}}</div>
                      <div  class="col-md-3 col-sm-3 col-lg-3">{{item.role_name}}</div>
                      <div  class="col-md-3 col-sm-3 col-lg-3">
                          <span *ngIf="item.status == 'Active'"  style="color: limegreen"> {{item.status}}</span>
                          <span *ngIf="item.status == 'Inactive'"  style="color: darkred"> {{item.status}}</span>
                      </div>
                  </div>
              </div>
              <div  class="col-md-2 col-sm-2 col-lg-2">
                  <button  class="btn btn-sm btn-outline-primary" style="float: right;" type="button" (click) = "editData(item.id)">Edit</button>
              </div>
              <div  class="col-md-2 col-sm-2 col-lg-2">
                  <button  class="btn btn-sm btn-outline-danger" style="float: right;" type="button" (click) = "deleteData(item.id)">X</button>
              
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-12 ">
      <div class="col-md-2 "><span class="pagination">{{data.length}} Users</span></div>
      <div class="col-md-10 "> 
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right ">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Prev</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
        </ul>
      </div> 
    </div>
  </div>
</div>